/* Overrides of metro css */

#slide_view_container {
    background-color: white !important;
}

span.icon img {
    margin: auto !important;
}

.ribbon-menu .tabs-holder {
    background-color: white !important;
}

.design_preview_submenu {
    white-space: nowrap;
    padding-right: 17px;
    text-align: left;
}

.design_preview_submenu:first-of-type {
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}

/* start of theme selector style */
#design_themes_panel_holder {
    position: absolute;
    border: 1px solid;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 290px;
    width: 360px;
}

#design_themes_panel_holder>div {
    display: flex;
    width: 337px;
    flex-direction: row;
    flex-wrap: wrap;
}

.design_themes_panels {
    width: 70px;
    height: 50px;
    border: 1px solid;
    margin: 7px;
}

.design_themes_panels:hover {
    box-shadow: 1px 1px 4px 2px rgb(126 130 142);
}

.design_themes_panels span {
    position: relative;
    top: 2px;
    left: -9px;
    font-size: 21px;
}

.design_themes_panels_divider {
    width: 400px;
    height: 9px;
    margin: 7px;
    text-align: left;
}

/* End of theme selector style */



#quiz_types_panel,
#quiz_types_panel_2 {
    width: 479px;
    display: flex;
    flex-wrap: wrap;
}

#quiz_types_panel>div,
#quiz_types_panel_2>div {
    background-color: rgb(71, 114, 255);
    position: relative;
}

.quiz_types:hover {
    opacity: 0.9;
}

.tooltip_pic {
    display: none;
    position: absolute;
    z-index: 2;
    max-width: 1000%;
    transform: translate(69px, -38px);
}

#insert_shape_panel {
    width: 100px;
}

#insert_shape_panel>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shape_icon:hover {
    opacity: 0.84;
}

#insert_shape_panel>div>div {
    background-color: rgb(71, 114, 255);
}

.insert_audio {
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}

.introduction_slide:hover {
    opacity: 0.84;
}

.form_view_home_link {
    white-space: nowrap;
    padding-right: 17px;
    text-align: left;
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}

.view_switch_btn {
    user-select: none;
    background-color: #f7f7f7;
    border: 1px solid #bcbcbc;
}

.view_switch_btn.clicked {
    background-color: #fbd8be;
    border: 1px solid #ea9166;
}

.form_view,
.slide_view {
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    width: 130px;
    text-align: right;
    padding-right: 13px;
}

.layout_panel_img_holder {
    display: flex;
    background-color: rgb(71, 114, 255);
}

.layout_panel_img_holder>img:hover {
    opacity: 0.84;
}

.layout_panel_divider {
    width: 700px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    font-weight: 700;
}

.list_divider {
    height: 1px !important;
    border-bottom: 1px dotted gray !important;
    margin-left: 26px !important;
}

.ribbon-menu .content-holder .group .group-divider {
    background-color: transparent !important;
}

.ribbon-menu .content-holder .group .title {
    border: none !important;
}

.dropdown-toggle::before {
    visibility: hidden;
}

/* start of quick styler css */
#quick_styles_panel_holder {
    position: absolute;
    border: 1px solid;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 436px;
    width: 444px;
}

#quick_styles_panel_holder>div {
    display: flex;
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
}

#quick_styles_panel_holder>div>div:not(.quick_style_sample_divider):hover {
    background-color: rgb(71, 114, 255);
}

.quick_style_sample,
.quick_style_sample_none {
    width: 40px;
    height: 40px;
    border: 1px solid;
    margin: 11px;
    border-radius: 10px;
}

.quick_style_sample span,
.quick_style_sample_none span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    transform: translate(-50%, -50%);
}

/* End of quick styler css */

.arrange_panel_list_divider {
    border-bottom: 1px solid #e7e7e7 !important;
}

#arrange_ul>li {
    width: 130px;
    text-align: left;
}

#arrange_ul li {
    background-position-x: 4px;
    background-repeat: no-repeat;
    background-position-y: center;
}

#layout_column_ul li {
    background-position-x: 4px;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 40px;
    width: 100px;
    padding-left: 30px;
}

#layout_column_ul li a {
    height: 40px;
    line-height: 38px;
    display: block;
}

.arrange_ul_ul {
    border: 1px solid #dadbdc;
    background: #fbfcfd;
    padding-left: 0;
    transform: translate(107px, -26px);
    width: 182px;
    display: none;
    margin-left: 0;
}

.arrange_ul_ul>li {
    width: 180px;
    text-align: left;
}

#arrange_li_align:hover .arrange_ul_ul {
    display: block;
}

#arrange_li_rotate:hover .arrange_ul_ul {
    display: block;
}

.subtitle_li {
    padding-left: 0 !important;
    font-weight: bold !important;
}

.subtitle_li:hover {
    border-color: transparent !important;
    background-color: transparent !important;
}

.section {
    height: 100%;
}

.group button.button {
    width: 25px;
    height: 25px;
}

#font_color_display_letter {
    border-bottom: 3px solid black;
    font-weight: bolder;
    font-family: 'Inter';
    color: #595959;
    padding-inline: 2px;
    margin-left: 13px;
    margin-right: -7px;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

#font_color_picker {
    width: 0px;
    height: 0px;
    transform: translate(-39px, 13px);
    visibility: hidden;
}

.view_switch_btn {
    width: 50%;
    height: 31px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-left: 28px;
}

.view_switch_btn:not(.clicked):hover {
    background-color: #fff0e6;
}

#shape_effects_ul>li {
    background-position-x: 8px;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 45px;
    width: 110px;
}

#shape_effects_ul>li>a {
    line-height: 43px;
    background: transparent;
    border: none;
}

#shape_effect_shadow_panel {
    position: absolute;
    z-index: 1;
    display: none;
    background: white;
    transform: translate(86px, -26px);
    width: 200px;
    filter: drop-shadow(1px 2px 2px black);
}

#shape_li_shadow:hover #shape_effect_shadow_panel {
    display: block;
}

#shape_effect_shadow_panel>div {
    display: flex;
    flex-wrap: wrap;
}

.shape_effect_shadow_sample {
    width: 65px;
    height: 65px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.shape_effect_shadow_sample_divider {
    width: 199px;
    text-align: left;
}

.shape_effect_shadow_sample:hover {
    outline: 5px solid #fbd8be;
    outline-offset: -5px;
}

#line_height_selector.dropdown-toggle::after {
    margin-left: 35px;
}

.ribbon-split.dropdown-toggle::after {
    margin-left: 0 !important;
}

label.file {
    display: none;
}

#arrange_li_rotate>div {
    display: flex;
    flex-wrap: wrap;
}

.shape_effect_glow_sample {
    width: 60px;
    height: 60px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.shape_effect_glow_sample_divider {
    width: 417px;
    text-align: left;
}

.shape_effect_glow_sample:hover {
    outline: 5px solid #fbd8be;
    outline-offset: -5px;
}

#shape_effect_glow_panel {
    position: absolute;
    z-index: 1;
    display: none;
    background: white;
    transform: translate(86px, -26px);
    width: 360px;
    filter: drop-shadow(1px 2px 2px black);
}

#shape_li_glow:hover #shape_effect_glow_panel {
    display: block;
}

#edit_hyperlink_modal_container {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.edit_hyperlink_modal {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    height: 220px;
    width: 510px;
}

/* The Close Button */
.edit_hyperlink_close_symbol {
    color: black;
    font-size: 28px;
    right: 10px;
    position: absolute;
    top: -2px;
}

.edit_hyperlink_close_symbol:hover,
.edit_hyperlink_close_symbol:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#editor_window_header {
    width: 100%;
    position: relative;
    height: 32px;
}

#editor_main_part {
    height: 160px;
    background-color: #f0f0f0;
    padding: 11px 20px;
}

.header_title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 12px;
    color: black;
    padding-left: 10px;
}

#hyper_text {
    width: 87%;
    outline: none;
    border: 1px solid;
}

#editor_footer_part {
    height: 45px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#hyperlink_test_btn,
#hyperlink_remove_btn,
#edit_hyperlink_ok,
#edit_hyperlink_cancel {
    font-size: 12px;
    border: 1px solid #adadad;
    background-color: #e1e1e1;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#hyperlink_test_btn {
    height: 20px;
    width: 60px;
}

#hyperlink_remove_btn {
    height: 20px;
    width: 87px;

}

#edit_hyperlink_ok {
    height: 25px;
    width: 87px;
    margin-right: 20px;
}

#edit_hyperlink_cancel {
    height: 25px;
    width: 87px;
    margin-right: 20px;
}

#add_edit_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#link_address {
    outline: none;
    width: 49%;
    border: 1px solid;
}

#link_to_bar {
    margin-top: 13px;
}

#edit_hyperlink_modal_container label {
    color: black;
    font-size: 12px;
    margin-bottom: 0;
}

label[for="address"] {
    margin-left: 25px;
}

label[for="web_page_link"],
label[for="email_link"],
label[for="open_in_new"] {
    margin-top: 0px;
}

#open_in_new_check {
    margin-left: 78px;
}

#recording_panel_holder {
    position: fixed;
    display: none;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#recording_panel {
    position: relative;
    top: 75px;
}

#close_recording {
    position: absolute;
    left: 92.5%;
    color: darkgrey;
    font-size: 29px;
}

#close_recording:hover {
    color: black;
}

#sound_rec_iframe {
    width: 90%;
    height: 684px;
    margin: auto;
    border-radius: 6px;
}

.quick_style_sample_divider {
    width: 467px;
    text-align: left;
    margin-inline: 15px;
}

.ui-resizable {
    position: absolute !important;
}

div[contenteditable='true'] ol {
    list-style: decimal;
    margin-left: 10px;
}

div[contenteditable='true'] ul {
    list-style: inside;
}

.slide_view_element .choice_item,
.slide_view_element .response_item {
    display: flex;
    align-items: center;
}

.slide_view_element .choice_item label,
.slide_view_element .response_item label {
    margin-bottom: 0;
    padding-left: 10px;
}

#design_themes_panel_holder {
    z-index: 5;
}

#section_home_form {
    margin-left: 3px;
}

#add_edit_bar div:hover {
    background: #c6c6c6;
}

#add_edit_bar div {
    cursor: pointer;
}

#editor_footer_part button:hover {
    background: #c6c6c6;
}

tr#no_fill_btn:hover, tr#no_border_btn:hover {
    background: lightgray;
}
